* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url('/SVG/Bakgrund.svg');
	height: 100vh;
	/* height: 100%; */
	background-size: cover;
	margin: 0;
	/* padding: auto; */

}

header {
	display: flex;
	/* background-color: rgba(255, 255, 255, 0); */
	justify-content: center;
	align-items: center;
	height: 150px;
	font-family: 'Nosifer', sans-serif;
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 10PX;
	text-shadow:
		-1px -1px #000000,
		0px 0px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0),
		2px 2px 0 rgb(0, 0, 0),
		3px 3px 0 rgb(255, 131, 131),
		4px 4px 0 rgb(255, 126, 126),
		5px 5px 0 rgb(255, 86, 86),
		6px 6px 0 rgb(255, 69, 69),
		7px 7px 0 rgb(255, 47, 47),
		8px 8px 7px rgba(255, 41, 41, 0.78),
		8px 8px 1px rgba(255, 32, 32, 0.5),
		0px 0px 7px rgba(255, 25, 25, 0.2);
}

.game-box {
	height: 200px;
	width: 100px;
	background-color: bisque;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	text-align: center;
}

.parent,.difficulty {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	text-align: center;
}

.swap,.difficulty {
	display: flex;
	justify-content: center;
	padding: 1em;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}

.div2 {
	grid-area: 1 / 2 / 2 / 3;
}

button {
	color: #fff;
	padding: 15px 30px;
	background-color: #38D2D2;
	background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
	box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
	border-radius: 14px;
	font-weight: bold;
	font-size: 16px;
	border: 0;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	cursor: pointer;
}

button:hover {
	background-color: green;
}

.game-content {
	margin-top: 40px;
	width: 40vw;
	position: relative;
	left: 40%;
}

.huvudorange {
	z-index: -1;
	visibility: 50%;
	margin: 20px;
}

main .start-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5em;
	font-family: 'Nosifer', sans-serif;
	font-size: 1em;

}

main .start-content #input-name::placeholder {
	text-align: center;
}

main .start-content #input-name {
	padding: 3px;
	font-size: 16px;
	border-width: 6px;
	border-color: #38D2D2;
	background-color: #ffffff;
	color: #000000;
	border-style: outset;
	border-radius: 50px;
	box-shadow: 0px 0px 20px rgba(11, 164, 255, .93);
	text-shadow: 10px 16px 5px rgba(47, 199, 255, .75);
	text-align: center;
	margin: 10px;
}

input:focus {
	outline: none;
}

main #error {
	font-family: 'Nosifer', sans-serif;
	font-size: 0.5em;
	color: rgb(223, 68, 68);

}

.ordet {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ordet.alt {
	display: none;
}

.ordet p {
	padding: 10px;
}

.felGissingSec {
	text-decoration: line-through;
	display: flex;
	justify-content: center;
	padding-right: 3em;

}

.felGissingSec p {
	margin: 0.5em;
}

.game-over {
	display: block;
	text-align: center;
	margin: 1em;
	place-items: center;
	justify-self: center;
	justify-content: center;

}

.game-over h1 {
	font-family: 'Nosifer', sans-serif;
	margin-top: 0;

}

.game-over>* {
	margin: 0.5em;
	place-items: center;
	display: flex;
	justify-content: center;
	font-size: 1.6em;

}

.gameWin {
	background: url('/SVG/trophy-svgrepo-com.svg');
	background-size: cover;
	position: relative;
	left: 46%;
	width: 6em;
	height: 6em;
} 
.gameLose {
	background: url('/SVG/hangman.svg');
	background-size: cover;
	position: relative;
	left: 41%;
	width: 6em;
	height: 6em;
}

@media (max-width: 650px) {

	/* body {
		padding: auto;
		height: 100%;
	}
	 */
	header {
		font-size: 19px;
		height: 110px;
	}

	.gameWin {
		position: relative;
		left: 42%;
	}
	.gameLose {
		position: relative;
		left: 37%;
	}
	.game-over h1 {
		font-size: 1.5em;
	}

	button {
		padding: 10px 35px;
		font-size: 12px;
	}

	.game-content {
		margin-top: 15px;
		width: 40vw;
		position: relative;
		left: 27%;
	}

	.game-over>* {

		font-size: 1em;

	}
}

@media (max-width: 370px) {

	/* body {
		padding: auto;
		height: 100%;
	} */
	header {
		font-size: 13px;
		height: 90px;
	}

	.gameWin {
		position: relative;
		left: 37%;
	}
	.gameLose {
		position: relative;
		left: 35%;
	}
	.game-over h1 {
		font-size: 1em;
	}

	button {
		padding: 10px 35px;
	}

	.game-content {
		margin-top: 10px;
		position: relative;
		left: 18%;
	}

}
/* .difficultySec{

} */