* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	background-color: rgb(255, 255, 255);
	justify-content: center;
	align-items: center;
	height: 150px;
	font-family: 'Nosifer', sans-serif;
	font-size: 1.4em;
}

.game-box {
    height: 200px;
    width: 100px;
    background-color: bisque;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
	text-align: center;
}

.parent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	text-align: center;
	}
	
	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 3; }

	button {
		border-radius: 40px 40px 40px 40px;
		height: 60px;
		width: 150px;
		background-color: whitesmoke;
	}

	button:hover {
		background-color: green;
	}

	.game-content {
		margin-top: 60px;
		width: 40vw;
	}
.huvudorange {
	z-index: -1;
	visibility: 50%;
	margin: 20px;
}


main .start-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5em;
	font-family: 'Nosifer', sans-serif;
	font-size: 1.4em;
}
main .start-content #input-name::placeholder {
    text-align: center;
}
main .start-content #input-name{
	padding: 0.5em;
	margin: 1em;
	border: 2px solid rgb(16, 16, 16);
	border-radius: 5px;
}
main #error{
	font-family: 'Nosifer', sans-serif;
	font-size: 0.5em;
	color: rgb(223, 68, 68);

}
